<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcFq3iGwJTwCP-WYYbCyniLy18R0D8ZD4</string>
	<key>GCM_SENDER_ID</key>
	<string>82965405244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.berkirgatoglu.yazilimmuh01</string>
	<key>PROJECT_ID</key>
	<string>yazilimmuh-1e3f1</string>
	<key>STORAGE_BUCKET</key>
	<string>yazilimmuh-1e3f1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82965405244:ios:0faa3cbab8d8cfc3c22d39</string>
</dict>
</plist>